table {
  border-collapse: collapse;
  width: 380px;
}

table, th, td {
  border: 1px solid black;
}

td {
  padding: 10px;
}

body {
  background-image: url("hardware.jpg");
  text-align: center;
  height: 400px;
  width: 400px;
}

@function stroke($stroke, $color) {
  $shadow: ();
  $from: $stroke*-1;
  @for $i from $from through $stroke {
   @for $j from $from through $stroke {
      $shadow: append($shadow, $i*1px $j*1px 0 $color, comma);
    }
  }
  @return $shadow;
}

@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

.titleDiv {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  left: 0;
  right: 0;
  bottom: 15px;
}

.titleDiv2 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  left: 0;
  right: 0;
  bottom: 90px;
}

.titleDiv3 {
  position: absolute;
  text-align: left;
  color: #FFFFFF;
  left: 95px;
  bottom: 145px;
}

.progressDiv {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 100px;
}

progress {
  border-radius: 2px;
  width: 80%;
  height: 22px;
  margin-left:-11.5%;
}
progress::-webkit-progress-bar {
 background-color: #0C0735;
  border-radius: 5px;
}
progress::-webkit-progress-value {
  background-color: #00BBFF;
   border-radius: 5px;
}
progress::-moz-progress-bar {
  /* style rules */
}

.textShadow {
  text-shadow:
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;
}

.textShadow a {
  text-decoration: none;
  color: #00BBFF;
}

.button {
  background-color: #FFFFFF; /* Green */
  border: none;
  width: 385px;
  height: 40px;
  line-height: 0px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: #0C0735;
  position: absolute;
  border-radius: 5px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  bottom:   15px;
}
